{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load rstblog_extras %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    <h3 class="hindex">Indexing {{ articles|length }} article{{ articles|length|pluralize }}</h3>
    
    {% for article in articles %}
    
        <div>
            <h5>
                <a href="{% url 'rstblog:show' article.slug %}">{{ article.title }}</a>
            </h5>
            
            <p class="pattributes">
                {% if article.hit %}
                    <b>Read</b> {{ article.hit }} times
                    {% if article.created %} ;&nbsp;&nbsp;&nbsp; {% endif %}
                {% endif %}
                {% if article.created %} 
                    <b>Created</b> on {{ article.created|date:"d M Y" }}
                    {% if article.modified %} ;&nbsp;&nbsp;&nbsp; {% endif %}
                {% endif %}
                {% if article.modified %}
                    <b>Modified</b> on {{ article.modified|date:"d M Y" }}
                {% endif %}
                {% for key, value in translations.items %}
                    {% if key == article.title %}
                        ;&nbsp;&nbsp;&nbsp;
                        <span style="border: 1px solid red; border-radius: 2px;"> <b>Translation{{ value|length|pluralize }}</b>: &nbsp; 
                        {% for language, slug in value %}
                            <a href="{% url 'rstblog:show' slug %}">{{ language }}</a>
                            {% if not forloop.last%} &nbsp; {% endif %}
                        {% endfor %}
                        </span>
                    {% endif %}
                {% comment %}
                {% endcomment %}
                {% endfor %}
            </p>
            <p class="psummary">
                {% if article.summary %}
                    <!-- <span style="font-style: italic;">Summary:</span> --> {{ article.summary }}
                {% endif %}
            </p>
    {% empty %}
        <div><p> Sorry. No articles by now.</p></div>
    {% endfor %}
{% endblock %}
