{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load rstblog_extras %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    <h1>Articles</h1>
    {% for article in articles %}
    
        <div>
            <h4>
                <a href="{% url 'rstblog:show' article.slug %}">{{ article.title }}</a>
            </h4>
            
            <p style="font-size: x-small">
                {% if article.hit %}
                    <b>Read</b> {{ article.hit }} times
                    {% if article.created %};&nbsp;&nbsp;&nbsp; {% endif %}
                {% endif %}
                {% if article.created %}
                    <b>Created</b> on {{ article.created }}
                    {% if article.modified %};&nbsp;&nbsp;&nbsp; {% endif %}
                {% endif %}
                {% if article.modified %}
                    <b>Modified</b> on {{ article.modified}}
                {% endif %}
            </p>
            <p style="font-size: small">
                {% if article.summary %}
                    <!-- <span style="font-style: italic;">Summary:</span> --> {{ article.summary }} </p>
                {% endif %}
    {% empty %}
        <div><p> Sorry. No articles by now.</p></div>
    {% endfor %}
{% endblock %}
