/* base.css */

/*h1{
    font-size: large;
    font-weight: bold;
    font-style: italic;
}*/

pre.code{
    margin-left:5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.hindex{
    margin-top:1rem;
}

.pattributes{
    margin-bottom:0.5rem;
    font-size: x-small;
}
.psummary{
    font-size: small;
}